
<% for (var i = 0; i < rooms.length; i++) { %>
    <% if(i==0){%> 
        <div id="chat_room_<%= rooms[i].id %>" class='all_chat_rooms overflow-auto h-full bg-primary '>
    <%}else{%>
        <div id="chat_room_<%= rooms[i].id %>" class='all_chat_rooms overflow-auto h-full bg-primary hidden'>
    <%} %>



    
    <!--
        <form action="/logout" method="post">
            <button>logout</button>
        </form>
    -->
        


    <% if(rooms[i].chat_history.length==0){%> 
        <div id="no_messages_<%= rooms[i].id%>" class="h-full w-full flex items-center justify-center">
            <div class="rounded-lg bg-primary p-6">
                no messages in this chat yet
            </div>
        </div>
    <%}%>

    <% for (var j = 0; j < rooms[i].chat_history.length; j++) { %>
        <% console.log(user.user_id) %>
        <% console.log(rooms[i].chat_history[j]) %>
        <%if (user.user_id == rooms[i].chat_history[j].user) { %>
            <div class="w-full  flex flex-row align-center  max-w-screen px-4 justify-end"   >
               
                <div class="text-gray-600 my-4 px-2  pb-1 flex items-end">
                    <% var date = new Date(rooms[i].chat_history[j].CREATED_AT)%>
                    <%= date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds(); %>
                </div>
                <div class='my-4  p-4 rounded-l-xl rounded-tr-lg w-fit bg-gradient-to-br from-dark_pink to-ligth_pink '>
                    <div>
                        <%= rooms[i].chat_history[j].message %>
                    </div>
                </div>

            </div>
        <% }else{ %>
            <div class="w-full  flex flex-row align-center  max-w-screen px-4"   >
                <div class="py-4 flex items-end min-w-fit">
                    <img class="rounded-full h-10 w-10 border-2 border-[<%=  users_obj[rooms[i].chat_history[j].user].color %>]" src="public/images/<%= users_obj[rooms[i].chat_history[j].user].pfp %>" alt="">
                </div>
                
                <div>
                    <div class='my-4 mx-2 p-4 rounded-tl-lg rounded-r-lg w-full bg-tertiary '>
                        <div class="text-sm text-[<%=  users_obj[rooms[i].chat_history[j].user].color %>]">
                            <%= users_obj[rooms[i].chat_history[j].user].username %>
                        </div>
                        <div>
                            <%= rooms[i].chat_history[j].message %>
                        </div>
                    </div>
                </div>
                <div class="text-gray-600 my-4 px-4  pb-1 flex items-end">
                    <% var date = new Date(rooms[i].chat_history[j].CREATED_AT)%>
                    <%= date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds(); %>
                </div>
            </div>
        <% } %>
        
    <%} %>
    </div>
<% } %>     






