<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="public/css/app.css" />

    </head>
    <body class='text-white bg-light_purple'>

        <%- include('components/add_chat_modal') %>
        <% if(!empty){ %>
            <%- include('components/create_chat_modal') %>
        <%}else{%>
            it is no rooms
        <%}%>

        <div class='flex flex-row h-full bg-[#1d203e]'>
            <%- include('components/side_bar',rooms) %>
            <div class='w-full h-screen flex flex-col'> 
                <%- include('components/top_bar') %>
                <%- include('components/main_chat_box') %>
                <%- include('components/bottom_bar') %>
            </div>
        </div>




        <script src="/socket.io/socket.io.js" ></script>
        <script src="public/js/jq.js" ></script>
        <script src="public/js/main.js" ></script>
    </body>
</html>

